.arts{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    font-size: 16px;
}
body {
    /* background-color: white; */
    background: #060607;
    color: #0d0c22;
}
.para8{
    margin: 60px;
}
.container-cate {
    display: flex;
    justify-content: center;

    height: 100vh;
    align-items: center;
    border: none;
    align-items: center;
    /* background-color: #ffffff; */
    color: #0d0c22; 
    
}

.cate-card {
    /* background-color: rgb(207, 199, 199); */
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border: none;
    border-style: solid; 
   
}
.cat-head{
    margin-left: 70px;
    /* color: red; */
}
.img7{
    width: 200px;
    margin-left: 20px;
    /* height: 100px; */
    margin: 20px;
}
.main-banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.card-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}