.signup-container2 {
    display: flex;
    justify-content: center;

    height: 100vh;
    align-items: center;
    border: none;
    align-items: center;
    color: #0d0c22; 
    
}

.signup-card {

    background-color: #554f4f;
    height: 380px;
    width: 430px;
    border: none;
    box-shadow: #ffffff;
   
}
.title-head{
    margin-left: 110px;
    font-family: sans-serif;
    color: white;
}
.para9{
    margin: 60px;
    font-family: sans-serif;
    color: white;
}
.img2{
    height: 100px;
    width: 200px;
    margin-left: 40px;
}