.signup-container2 {
    display: flex;
    justify-content: center;

    height: 100vh;
    align-items: center;
    border: none;
    align-items: center;
    /* background-color: #ffffff; */
    color: #0d0c22; 
    
}

.signup-card {
    /* background-color: rgb(207, 199, 199); */
    background-color: #ffffff;
    height: 380px;
    width: 440px;
    border: none;
     /* border-style: solid;  */
   
}
.title-head{
    margin-left: 180px;
}
.para9{
    margin: 60px;
    font-family: sans-serif;
}